<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>@ViewBag.Title - Spekter</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="apple-touch-icon" sizes="57x57" href="~/Content/Images/favicons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="~/Content/Images/favicons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="~/Content/Images/favicons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="~/Content/Images/favicons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="~/Content/Images/favicons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="~/Content/Images/favicons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="~/Content/Images/favicons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="~/Content/Images/favicons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="~/Content/Images/favicons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="~/Content/Images/favicons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/Content/Images/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="~/Content/Images/favicons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/Content/Images/favicons/favicon-16x16.png">
    <link rel="manifest" href="~/Content/Images/favicons/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="~/Content/Images/favicons/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog==" crossorigin="anonymous" />
</head>
<body>
    @Html.Partial("~/Views/Shared/Header.cshtml")
    <div class="container-fluid body-content no-padding">

        @RenderBody()


        @Html.Partial("~/Views/Shared/Footer.cshtml")

        <!--Signup Modal-->
        <div id="dissmissablePopupDesign" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header clearfix">
                        <h4 id="title-dissmissablePopupDesign" class="modal-title"></h4>
                    </div>
                    <div class="modal-body clearfix">
                        <div class="col-sm-12 col-md-12 no-padding">

                            <p id="content-dissmissablePopupDesign"></p>

                        </div>
                    </div>

                </div>

            </div>
        </div>


    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <script>

        function triggerPopup(headingText, bodyText, incomingBoolean) {
            $('#dissmissablePopupDesign').modal('show');

            $('#title-dissmissablePopupDesign').empty();
            $('#content-dissmissablePopupDesign').empty();

            $('#title-dissmissablePopupDesign').html(headingText);
            $('#content-dissmissablePopupDesign').html(bodyText);


            var isTrueSet = (incomingBoolean.toLowerCase() === 'true');

            if (isTrueSet) {
                setTimeout(function () {

                    // code to close the modal

                    $('#dissmissablePopupDesign').modal('hide');

                }, 2500);
            }
            else {

            }



        }


        $(document).ready(function () {

            function ToggleSignInMenu() {

            }



            $(".tab-pill").click(function () {
                var currentElement = $(this);
                $(".tab-pill").removeClass("active");
                $(".each-comment-section").removeClass("active");
                currentElement.addClass("active");
                var fetchActiveDataComment = currentElement.attr("data-comment");
                $("#comment" + fetchActiveDataComment).addClass("active");

            });




            $(".account-header.desktop").click(function () {

                var myDropdown = document.getElementById("myDropdown");
                if (myDropdown.classList.contains('show')) {
                    myDropdown.classList.remove('show');
                }
                else {
                    myDropdown.classList.add('show');
                }


            });


            $(".account-header.mobile-account").click(function () {


                $('#myModalSigninMobile').modal('show');


            });




            $(".go-to-signup").click(function () {

                var myDropdown = document.getElementById("myDropdown");
                if (myDropdown.classList.contains('show')) {
                    myDropdown.classList.remove('show');
                }
                else {
                    myDropdown.classList.add('show');
                }
                $('#myModalSignup').modal('toggle');

            });


            $('.go-to-signin-mobile').click(function () {

                $('#myModalSigninMobile').modal('hide');
                $('#myModalSignup').modal('show');
            });

            $(".go-to-signin").click(function () {

                var myDropdown = document.getElementById("myDropdown");
                if (myDropdown.classList.contains('show')) {
                    myDropdown.classList.remove('show');
                }
                else {
                    myDropdown.classList.add('show');
                }
                $('#myModalSignup').modal('toggle');

            });


            $('.size-styling').click(function () {
                var currentElement = $(this);
                $(".size-styling").removeClass("active");
                currentElement.addClass("active");
            }
            );




            $('.color-styling').click(function () {
                var currentElement = $(this);
                $(".color-styling").removeClass("active");
                currentElement.addClass("active");
            }
            );

            $('.list-image-icons li').click(function () {
                var currentElement = $(this);
                $('.list-image-icons li').removeClass('active');
                var selectedURL = currentElement.children().attr('src');
                currentElement.addClass("active");
                $('.main-product-img').attr('src', selectedURL);
                currentElement.addClass('active')
            }
            );

        });
    </script>

</body>
</html>
