<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Spekter</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    @Html.Partial("~/Views/Shared/Header.cshtml")
    <div class="container-fluid body-content no-padding">

        @RenderBody()


        @Html.Partial("~/Views/Shared/Footer.cshtml")

    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <script>
    $(document).ready(function () {


        $(".tab-pill").click(function () {
            var currentElement = $(this);
            $(".tab-pill").removeClass("active");
            $(".each-comment-section").removeClass("active");
            currentElement.addClass("active");
            var fetchActiveDataComment = currentElement.attr("data-comment");
            $("#comment" + fetchActiveDataComment).addClass("active");

        });


    });
    </script>

</body>
</html>
